@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500&display=swap");

body{
  min-width: 340px;
}
* {
  max-width: 1440px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;

  }
/* ------------------ header ------------------- */
.logo {
  width: 120px;
  margin-right: auto;
  margin-left: 60px;
  
}
nav {
  padding: 35px 10px 0px 0px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

nav a {
  width: 100%;
  padding: 30px;
  font-size: 1.1rem;
  text-align: center;
  text-decoration: none;
  color: black;
}
nav a:hover {
  border-top: 3px solid #0065fc;
  color: #0065fc;
}

h1 {
  font-size: 1.6rem;
 margin-left: 60px;
  padding-top: 30px;
}
header p {
  font-size: 1rem;
  margin-left: 60px;
}

/* --------------- header mobile ---------------*/

@media (max-width: 768px) {
  .logo {
    width: 150px;
    margin: auto;
    padding-left: 50px;
  }
  nav {
    padding-right: 0px;
  }
  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 8px;
    margin-right: 0px;

  }
  .navbar a {
    border-bottom: 3px solid #f2f2f2;
    padding-bottom: 12px;
    font-size: 1rem;
  }
  nav a:hover {
    border-bottom-color: #0065fc;
    border-top: none;
    color: #0065fc;
  }
  h1 {
    font-size: 1.3rem;
    padding-right: 40px;
    margin-left: 20px;
  }
  header p {
    font-size: 0.93rem;
    padding-bottom: 20px;
    margin-left: 20px;
  }

}
/* -------------------Search Bar ------------------*/

form {
  display: flex;
}
.search-bar {
  margin-left: 60px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.search-bar form i {
  padding: 13px;
  background-color: #f2f2f2;
  border: 3px solid #f2f2f2;
  border-radius: 10px 0px 0px 10px;
}
.search-bar input {
  border: 2px solid #f2f2f2;
  padding-left: 15px;
  overflow: hidden;
}
input::placeholder {
  font-size: 1rem;
  color: black;
  font-weight: bold;
}

#search-btn {
  border: none;
  border-radius: 0px 10px 10px 0px;
  font-size: 1rem;
  background-color: #0065fc;
  color: white;
  padding-right: 10px;
}
#search-btn i {
  display: none;
}
.search-bar button:hover {
  transform: scale(1.05);
  cursor: pointer;
  transition: 150ms;
}
/* ----------------- Search-bar mobile----------------*/
@media (max-width: 768px) {
  .search-bar{
    margin-left: 20px;
    
  }
  .search-bar form i {
    padding: 15px 15px 0px 15px;
    border-radius: 17px 0px 0px 17px;
    
  }
  .search-bar input {
    padding: 0px 20px;
  }

  input::placeholder {
    font-size: 0.9rem;
  }

  #search-btn span {
    display: none;
  }
  #search-btn {
    position: relative;
    left: -13px;
    top: 55%;
    padding: 5px 5px 19px 5px;
    border-radius: 17px 17px 17px 17px;
  }

  #search-btn i {
    display: flex;
    border: none;
    background-color: #0065fc;
    font-size: 1.1rem;
  }
}
/* ---------------Filters -------------- */
h2 {
  font-size: 1.1rem;
  padding-right: 23px;
  margin-left: 60px;
}
.filters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
}
.filters button:hover {
  color: #0065fc;
  transform: scale(0.9);
  transition: 350ms;
  cursor: pointer;
}

.economique,.famillial,.romantique,.animaux {
  border: 2px solid #f2f2f2;
  background-color: white;
  border-radius: 30px;
  display: flex;
  margin: 0px 20px 0px 0px;
  padding-right: 10px;
  font-size: 1rem;
}

.filters button {
  border-radius: 30px;
  border: none;
  background-color: white;
  font-weight: bold;
  padding:0px 10px 0px 10px;
}

.filters i {
  background-color: #deebff;
  color: #0065fc;
  font-size: 19px;
  width: 55px;
  height: 55px;
  text-align: center;
  border-radius: 30px;
  padding-top: 17px;
  margin: -2px;
  z-index: 1;
}

/* ---------- Filters tablette -------- */
@media only screen and (max-width: 992px) and (min-width: 768px)  {
  h2 {
    width: 100%;
    margin-left: 60px;
  }
  .economique,.famillial,.romantique,.animaux {
    margin: 10px 20px 10px 20px;
  }
  .economique {
    margin-left: 60px;
  }
  .animaux{
    margin-top: 20px;
    margin-left: 60px;
  }
}

/* ---------- Filters mobile ----------*/

@media (max-width: 768px) {
  h2 {
    width: 100%;
    margin-left: 20px;
  }
  .economique,.famillial,.romantique,.animaux {
    margin: 10px 20px 10px 20px;
  }
  .famillial {
    margin: 10px 0px 10px 20px;
  }
}
/* ----------------- Info ---------------*/

.info {
   
    display: flex;
    align-items: center;
    margin-left: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.info i {
    border: 2px solid #f2f2f2;
    color: #0065fc;
    border-radius: 50%;
    padding:4px 8px 4px 8px;
    font-size: 14px;
    margin-right: 10px
  }
  .info p {
    font-size:1rem;
  }
  /*---------- Info responsive mobile ----------*/
  @media (max-width: 768px) {
    .info {
      margin-left: 20px;
      width: 92%;
    }
  }
  
  /* ---------------- Hebergement + Les plus populaire ----------------*/
  
  /* ---------------- Hébergement ----------------*/
  section {
    display: flex;
    gap: 40px;
  }
  
  .hebergements {
    width: 66%;
    background: #f2f2f2;
    margin-left: 60px;
    border-radius: 15px;
    padding: 2%;
  }
 
.hebergements h2{
    font-size: 1.3rem;
   margin-left: 0px;
    
}
.full_card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 align-items:center;
}
.hebergements .card:hover {
  transform: scale(1.1);
  transition: 400ms;
  cursor: pointer;
  
}
.full_card a {
  text-decoration: none;
}
 .card{
    width: 31%;
    background-color:white;
    text-align:center;
    border-radius: 15px;
    margin-bottom: 4%;
    box-shadow:3px 6px 9px 0px gray;
    
}

.hebergements img {
    width: 96%;
    height: 115px;
    border-radius: 15px 15px 0px 0px;
    padding-top: 1.5%;
    object-fit: cover;
    
}
.card_title{
    width: 100%;
    font-size: 13px;
    text-decoration: none;
    color: black;
    margin-top: -10px   
}
.card_prix {
    font-size: 0.8rem;
    color: black;
    padding-top: 1px;
  
}
.card_prix span{
  font-weight: bold;
  color: black;
}
.card_title, .card_prix{
    text-align:left;
    padding-left: 6%;
    margin-bottom: -18px;
    
}

.stars_blue {
    display: flex;
    justify-content:flex-start;

    color: #0065fc;
    font-size: 15px;
    padding-left: 5%;
    padding-top: 6%;
    margin-bottom: 5%;
}
.stars_grey{
    color: #f2f2f2;
    display: flex;  
}
.afficher_plus {
  font-weight: bold;
 color: black;
margin-top: 10px;
}
/* ---------------- Hebergements Responsive tablette ----------------*/

@media only screen and (max-width: 992px) and (min-width: 768px)  {
  .hebergements {
    background-color: #f2f2f2;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .card{
    width: 45%;
  }
}

/* ----------------Hebergements Responsive mobile -----------------*/

@media (max-width: 768px) {
  .hebergements {
    background-color:white;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 0px;
  }
  .hebergements h2 {
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  padding-right: 50px;
  }
  
  .card {
    width: 90%;
    height: 220px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    
  }
  .hebergements img{
    object-fit: cover;
    height: 125px;
  
  }
  

  .card_title {
    font-size: 1.1rem;
    margin-top: -15px;
  }
  .card_prix{
    font-size: 0.9rem;
    margin-top: -27px;
  }
  .card_title, .card_prix{
    margin-bottom: -5px;
   
  }
  .stars_blue {
    padding-top: 0px;
  }
  .afficher_plus {
    margin-top: 20px;
    margin-left: 80px;
    font-size: 1.1rem;
  }
  }


/* ---------------- Les plus populaires -----------------*/

.populaire {
  width:33%;
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  padding:2% 2% 2% 2%;
  border-radius: 15px; 
}
.populaire h2 {
  width: 100%;
 text-align: left;
  font-size: 1.1rem;
  margin-left: -5px;
  margin-bottom: 16px;
  margin-top: 18px;
}
.full_card_pop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 align-items:center;
}
.card_pop {
    width: 100%;
    height: 148px;
    background-color:white;
    border-radius: 15px;
    margin-bottom: 10%;
    box-shadow:3px 6px 9px 0px grey; 
}
.card_pop:hover {
  transform: scale(1.1);
  transition: 400ms;
  cursor: pointer;
}

.populaire img{

  width: 120px;
  height: 136px;
  border-radius: 15px 0px 0px 15px;
  padding-top: 1.2%;
  padding-left: 1.5%;
  object-fit: cover;
}
.populaire a {
  display: flex;
  text-decoration: none;
  min-width: 288px;
}
.card_texte {
  padding: 5px 0px 0px 5px;
  display: flex;
  flex-direction: column;
  flex-wrap:wrap ;
}
.populaire .card_title{
  font-size: 1rem;
}
.populaire .card_prix {
  padding-bottom: 20px;
}
/*.stars_blue_2 {
  display: flex;
  color: #0065fc;
  font-size: 15px;
  padding-left: 5%;
  margin-bottom: 15%;
}*/

.title_black_star {
  width: 100%;
  display: flex;
  justify-content: space-between;  
}
.black_star {
  margin-top: 18px;
  font-size: 22px;
}
/* ------- les plus populaire responsive tablette ------*/
@media only screen and (max-width: 992px) and (min-width: 769px)  {
  section{
    display: flex;
    flex-direction:column-reverse
  }
  .populaire{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: flex;
  }
.full_card_pop{
  width: 90%; 
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.card_pop{
  height: 200px;
  margin-bottom: 4%;
}
.populaire h3 {
  font-size: 1.2rem;
}
 .populaire .card_prix {
   font-size: 0.9rem;
   margin-bottom: 20px;
 }
 .populaire img{
  width: 180px;
  height: 194px;
  border-radius:15px 0px 0px 15px;
  padding-top: 1%;
  padding-left: 1%;
  object-fit: cover;
}
}
/* ------ Les plus populaire responsive mobile -----*/
@media (max-width: 768px) {

section{
  display: flex;
  flex-direction:column-reverse;
  flex-wrap: wrap;
}
.populaire{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  border-radius: 0px;
}

.populaire h2 {
  margin-left: 20px;
}
.title_black_star{
  margin:10px 20px -10px 0px;
}
.full_card_pop{
width: 95%; 
margin-top: 25px;
margin-left: auto;
margin-right: auto;
}
.card_pop{
 /* display: flex;*/
  width: 100%;
height: 150px;
margin-bottom: 20px;
margin-left: auto;
margin-right: auto;
}
.populaire .card_title{
  font-size: 0.9rem;
}
.populaire p {
 font-size: 0.8rem;
 margin: 40px 0px 20px 0px;
}
.populaire img{
width: 140px;
height: 146px;
border-radius:15px 0px 0px 15px;
padding-top: 1%;
padding-left: 1%;
object-fit: cover;
}
}
/*---------- Activité a Marseille ----------*/

.activité {
  width: 100%;
  display: flex;
  flex-direction: column;
  

}
#title {
  width: 100%;
  margin:45px 0px 10px 60px;
}
.contener {
  display: flex;
  justify-content: space-between;
  margin-left: 60px;
  gap: 35px;
}
.activité a{
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.activité .title {
  padding-left: 10px;
}
.vieux_port, .fort, .iles, .parc, .notre_dame, .parc_longchamp{
  border-radius: 20px;
  box-shadow: 8px 5px 16px 0px grey;
  
}
.activité img{
width: 100%;
border-radius: 20px 20px 0px 0px ;
object-fit: cover;
}
.vieux_port, .parc{
  width: 300px;
  height: 450px;
  min-width: 200px;
}
.vieux_port img, .parc img{
  height: 400px;
}
.title{
  margin: -8px 0px 0px 3px;
}
.activité .card {
  width: 300px;
  display: flex;
  flex-direction: column;
  box-shadow: none; 
  text-align: left;
}
.fort {
  height: 260px;
  margin-bottom: 30px;
}
.fort img{
  height: 210px;
}

.iles img{
  height: 110px;
}
.notre_dame {
  height:210px;
  margin-bottom: 30px;
}
.notre_dame img {
  height: 158px;
}
.parc_longchamp img {
height: 160px;

}


