@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500&display=swap");


* {
  max-width: 1440px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  /*margin-right: 0px;*/
  
 

  }
/* ------------------ header ------------------- */
.logo {
  width: 120px;
  margin-right: auto;
  margin-left: 60px;
  
}
nav {
  padding: 35px 10px 0px 0px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

nav a {
  width: 100%;
  padding: 30px;
  font-size: 0.8rem;
  text-align: center;
  text-decoration: none;
  color: black;
}
nav a:hover {
  border-top: 3px solid #0065fc;
  color: #0065fc;
}

h1 {
  font-size: 1.1rem;
 margin-left: 60px;
  padding-top: 30px;
}
header p {
  font-size: 0.8rem;
  margin-left: 60px;
}

/* --------------- header mobile ---------------*/

@media (max-width: 768px) {
  .logo {
    width: 150px;
    margin: auto;
    padding-left: 50px;
  }
  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 8px;
    margin-right: 0px;

  }
  .navbar a {
    border-bottom: 3px solid #f2f2f2;
    padding-bottom: 12px;
    font-size: 1rem;
  }
  nav a:hover {
    border-bottom-color: #0065fc;
    border-top: none;
    color: #0065fc;
  }
  h1 {
    font-size: 1.3rem;
    padding-right: 40px;
    margin-left: 20px;
  }
  header p {
    font-size: 0.93rem;
    padding-bottom: 20px;
    margin-left: 20px;
  }

}
/* -------------------Search Bar ------------------*/

form {
  display: flex;
}
.search-bar {
  margin-left: 60px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.search-bar form i {
  padding: 7px;
  background-color: #f2f2f2;
  border: 3px solid #f2f2f2;
  border-radius: 10px 0px 0px 10px;
}
.search-bar input {
  border: 2px solid #f2f2f2;
  padding-left: 15px;
  overflow: hidden;
}
input::placeholder {
  font-size: 0.8rem;
  color: black;
  font-weight: bold;
}

#search-btn {
  border: none;
  border-radius: 0px 10px 10px 0px;
  font-size: 0.8rem;
  background-color: #0065fc;
  color: white;
  padding-right: 10px;
}
#search-btn i {
  display: none;
}
.search-bar button:hover {
  transform: scale(1.05);
  cursor: pointer;
  transition: 150ms;
}
/* ----------------- Search-bar mobile----------------*/
@media (max-width: 768px) {
  .search-bar{
    margin-left: 20px;
    
  }
  .search-bar form i {
    padding: 15px 15px 0px 15px;
    border-radius: 17px 0px 0px 17px;
    
  }
  .search-bar input {
    padding: 0px 20px;
  }

  input::placeholder {
    font-size: 0.9rem;
  }

  #search-btn span {
    display: none;
  }
  #search-btn {
    position: relative;
    left: -13px;
    top: 55%;
    padding: 5px 5px 19px 5px;
    border-radius: 17px 17px 17px 17px;
  }

  #search-btn i {
    display: flex;
    border: none;
    background-color: #0065fc;
    font-size: 1.1rem;
  }
}
/* ---------------Filters -------------- */
h2 {
  font-size: 0.9rem;
  padding-right: 23px;
  margin-left: 60px;
}
.filters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
}
.filters button:hover {
  color: #0065fc;
  transform: scale(0.9);
  transition: 350ms;
  cursor: pointer;
}

.economique,.famillial,.romantique,.animaux {
  border: 2px solid #f2f2f2;
  background-color: white;
  border-radius: 30px;
  display: flex;
  margin: 0px 15px 0px 0px;
  padding-right: 10px;
  font-size: 0.8rem;
}

.filters button {
  border-radius: 30px;
  border: none;
  background-color: white;
  font-weight: bold;
  padding-left: 9px;
}

.filters i {
  background-color: #deebff;
  color: #0065fc;
  font-size: 13px;
  width: 35px;
  height: 35px;
  text-align: center;
  border-radius: 30px;
  padding-top: 11px;
  margin: -3px;
  z-index: 1;
}
/* ---------- Filters mobile ----------*/

@media (max-width: 768px) {
  h2 {
    width: 100%;
    margin-left: 20px;
  }
  .economique,.famillial,.romantique,.animaux {
    margin: 10px 20px 10px 20px;
  }
  .famillial {
    margin: 10px 0px 10px 20px;
  }
}
/* ----------------- Info ---------------*/

.info {
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.info i {
    border: 2px solid #f2f2f2;
    color: #0065fc;
    border-radius: 50%;
    padding:4px 8px 4px 8px;
    font-size: 12px;
    margin-right: 10px
  }
  .info p {
    font-size:0.7rem;
  }
  
  /* ---------------- Hebergement + Les plus populaire ----------------*/
  
  /* ---------------- Hébergement ----------------*/
  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
  }
  
  .hebergements {
    width: 65%;
    /*height: 600px;*/
    background: #f2f2f2;
    margin-left: 60px;
    border-radius: 15px;
    padding: 2%;
    
  }
 
.hebergements h2{
    font-size: 1.3rem;
   margin-left: 0px;
    
}
.full_card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 align-items:center;
}
.card:hover {
  transform: scale(1.1);
  transition: 400ms;
  cursor: pointer;
  
}
.full_card a {
  text-decoration: none;
}
 .card{
    width: 31%;
    height: 200px;
    background-color:white;
    text-align:center;
    border-radius: 15px;
    margin-bottom: 4%;
    box-shadow:3px 6px 9px 0px black;
}

.hebergements img {
    width: 96%;
    height: 115px;
    border-radius: 15px 15px 0px 0px;
    padding-top: 1.5%;
    object-fit: cover;
   
}
.card_title{
    width: 100%;
    font-size: 12.2px;
    margin-top: -5%;
    text-decoration: none;
    color: black;
    
}
.card_prix {
    font-size: 0.8rem;
    color: black;
}
.card_prix span{
  font-weight: bold;
  color: black;
}
.card_title, .card_prix{
    
    text-align:left;
    padding-left: 8%;
    margin-bottom: -8px;
}
.stars_blue {
    display: flex;
    justify-content:flex-start;
    color: #0065fc;
    font-size: 15px;
    padding-left: 8%;
    padding-top: 2%;
    padding-bottom: 3%;
}
.stars_grey{
    color: #f2f2f2;
    display: flex;  
}
.afficher_plus {
  font-weight: bold;
 color: black;
margin-top: -15px;
}
/* ---------------- Hebergements Responsive tablette ----------------*/

@media only screen and (max-width: 992px) and (min-width: 768px)  {
  .hebergements {
    background-color: red;
  }
  .card{
    width: 45%;
  }
}

/* ----------------Hebergements Responsive mobile -----------------*/

@media (max-width: 768px) {
  .hebergements {
    background-color:white;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 0px;
  }
  .hebergements h2 {
  width: 100%;
  text-align: center;
  }
  .card {
    width: 100%;
    height: 270px;
    margin-bottom: 30px;
    margin: 10px 60px;
    
  }
  .hebergements img{
    object-fit: cover;
    height: 135px;
  
  }
  .card_title, .card_prix{
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 0.9rem;
  }
}

/* ---------------- Les plus populaires -----------------*/
.populaire {
  background-color: #f2f2f2;
}