@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500&display=swap');

* {
    box-sizing: border-box;
 font-family: 'Raleway', sans-serif;
}
/* -------- header --------- */
.logo {
    width: 100px;
    margin-right: auto;
    padding-left: 15px;
    
}
nav {
    padding: 35px 10px 0px 0px;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;   
}

nav a {
    width: 100%;
    padding:30px;
    font-size: 0.8rem;
    text-align: center;
    text-decoration: none;
    color: black;
    
}
nav a:hover {
    border-top: 3px solid #0065FC;
    color: #0065FC;
}
    
    h1 {
        font-size: 1.1rem;
        padding-left: 20px; 
    }
    header p {
        font-size: 0.8rem;
        padding-left: 20px;
    }

/* ------ header mobile -----*/

@media  (max-width:768px){
    
    .logo {
        width: 150px;
        margin: auto;
        padding-left: 50px;
    }
 .navbar{
        width: 100%;
        display: flex;
        justify-content:space-around;
        padding-bottom: 8px;
    }
    .navbar a {
        border-bottom: 3px solid #f2f2f2;
        padding-bottom: 12px;
        font-size: 1rem;
    }
 nav a:hover {

     border-bottom-color: #0065FC;
     border-top: none;
     color: #0065FC;
    }
    h1 {
        font-size: 1.3rem;
        padding-right: 40px;
    }
    header p {
        font-size: 0.93rem;
        padding-bottom: 20px;
    }
    
}
/* ---------Search Bar --------*/
form {
    display: flex;
    
}
.search-bar {
    margin-left: 20px;
}

.search-bar form i {
    padding: 7px;
    background-color:#f2f2f2 ;
    border: 3px solid #f2f2f2;
    border-radius:10px 0px 0px 10px ;
}
.search-bar input{
    border: 2px solid #f2f2f2;
    padding-left: 15px;
    overflow: hidden;
}
input::placeholder {
    font-size: 0.8rem;
    color: black;
    font-weight: bold;
}

#search-btn {
    border: none;
    border-radius: 0px 10px 10px 0px;
    font-size: 0.8rem;
    background-color: #0065FC;
    color: white;
    padding-right: 10px;
}
#search-btn i {
    display: none;

}
.search-bar button:hover {
    transform:scale(1.05);
    cursor:pointer;
    transition: 150ms;
}
/* ------- Search-bar mobile ------*/
@media  (max-width:768px){
   

    
    .search-bar form i {
        padding:15px 15px 0px 15px;
        border-radius: 17px 0px 0px 17px;
        
    }
    .search-bar input {
    padding: 0px 20px;
    }

    input::placeholder {

        font-size: 0.9rem;
    }

    #search-btn span {
        display: none;
    }
    #search-btn {
        position: relative;
        left: -13px;
        top: 55%;
        padding: 5px 5px 19px 5px;
        border-radius: 17px 17px 17px 17px;
    }

#search-btn i {
    display: flex;  
    border: none;
    background-color: #0065FC;
    font-size: 1.1rem;
}
}
/* ----- Filters ---- */
h2{
    font-size: 0.9rem;
    padding-right: 23px;
    padding-left: 15px;
}
.filters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 15px;   
} 
.filters button:hover {
color: #0065FC;
transform: scale(0.9);
transition: 350ms;
cursor: pointer;
}

.economique, .famillial, .romantique, .animaux{
    border: 2px solid #f2f2f2;
    background-color: white;
    border-radius: 30px;
    display: flex;
    margin:0px 15px 0px 0px;
    padding-right:10px;
    font-size: 0.8rem;
    
    
}



.filters button {
    border-radius: 30px;
    border: none;
    background-color: white;
    font-weight: bold;
    padding-left: 9px;
    
    
}

.filters i {
background-color: #DEEBFF;
color: #0065FC;
font-size: 13px;
width: 35px;
height: 35px;
text-align:center;
border-radius: 30px ;
padding-top: 11px;
margin:-3px ;
z-index: 1;
}

@media  (max-width:768px){
    h2 {
        width: 100%;
       
    }
 .economique, .famillial, .romantique, .animaux {
    margin: 10px 20px 10px 20px;
 }
 .famillial {
    margin: 10px 0px 10px 20px;
 }





    
   
   

  
   
